body {
    margin: 0;
    font-family: 'Playfair Display', serif;
}

/* style the fixed header section */
#fixed-header #hamburger {
    display: none;
}

#fixed-header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 7;
    opacity: 0.9;
}

nav {
    width: 50%;
}

header img {
    width: 20px;
    height: 20px;
}

.nav-bar {
    display: flex;
    padding-left: 0;
    padding-right: 20px;
    justify-content: space-around;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar li a {
    text-decoration: none;
    padding-left: 20px;
    color:rgb(241, 200, 145);
    text-shadow: 1px 1px rgb(243, 222, 194), 1px 2px rgb(243, 222, 194), 1px 3px rgb(243, 222, 194), 1px 4px rgb(243, 222, 194), 1px 5px rgb(243, 222, 194), 1px 6px rgb(243, 222, 194), 1px 7px rgb(243, 222, 194);
}

.nav-bar li a:hover {
    transition: 0.3s;
    transform: scale(1.1)translate(-50%, -50%);
    text-shadow: 1px -1px rgb(243, 222, 194), 1px -2px rgb(243, 222, 194), 1px -3px rgb(243, 222, 194), 1px -4px rgb(243, 222, 194), 1px -5px rgb(243, 222, 194), 1px -6px rgb(243, 222, 194), 1px -7px rgb(243, 222, 194);
  }
  

@media screen and (max-width: 480px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: fixed;
        top: 0px;
        left: 0px;
        margin-top: 0;
        height: 100%;
        width: 100%;
        background-color: rgb(173, 158, 138);
        align-items: flex-start;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    #fixed-header img {
        display: block;
        padding: 20px;
    }
    header {
        padding-top: 10px;
        width: 60%;
        font-size: xx-large;
    }
}


/* style the home page content */
#home-page-section {
    width: 100%;
}

#homepage-content {
    background-color: lightcoral;
    margin-top: 60px;
    padding: 40px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

#homepage-content h1 {
    font-size: 80px;
    overflow: hidden;
    border-right: 1px solid orange;
    /*animation: shadows 1.7s ease-in, move 1.7s ease-in;*/
}

@keyframes shadows {
    0% {
        text-shadow: none;
    }
    10% {
        text-shadow: 3px 3px rgb(241, 200, 145);
    }
    20% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112);
    }
    30% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112), 9px 9px rgb(243, 164, 60);
    }
    40% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112), 9px 9px rgb(243, 164, 60), 12px 12px rgb(241, 144, 16);
    }
    50% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112), 9px 9px rgb(243, 164, 60), 12px 12px rgb(241, 144, 16);
    }
    60% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112), 9px 9px rgb(243, 164, 60), 12px 12px rgb(241, 144, 16);
    }
    70% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112), 9px 9px rgb(243, 164, 60);
    }
    80% {
        text-shadow: 3px 3px rgb(241, 200, 145), 6px 6px rgb(243, 186, 112);
    }
    90% {
        text-shadow: 3px 3px rgb(241, 200, 145);
    }
    100% {
        text-shadow: none;
    }
}

@keyframes move {
    0% {
        transform: translate(0px, 0px);
    }
    40% {
        transform: translate(-12px, -12px);
    }
    50% {
        transform: translate(-12px, -12px);
    }
    60% {
        transform: translate(-12px, -12px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

#homepage-content img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: white 5px dotted;
    display: none;
}

#homepage-subcontent {
    display: flex;
    justify-content: flex-start;
}



#homepage-content h2 {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 1px solid orange;
    animation: typing 2.5s steps(18, end) forwards, blink 0.9s infinite;
}

@keyframes typing {
    from {width: 0}
    to {width: 130px}
}

@keyframes blink {
    from {border-color: transparent} 
    to {border-color: orange;}
}


@media screen and (max-width: 480px) {
    #homepage-content h1 {
        font-size: 40px;
    }
    #homepage-text {
        width: 100%;
    }
    #homepage-subcontent {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
    }
}



/* style about section */
#about-section {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    height: 600px;
    color: rgb(241, 200, 145);
}

#about-section h2 {
    font-size: 50px;
}

#about-section p {
    font-size: 1.5em;
}

/* style resume section */
#skill-section {
    background-color: #f4e1d2;
    padding: 40px;
    height: 700px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#skill-section h1 {
    font-size: 40px;
}

.skill-container {
    background-color: white;
    color: rgb(241, 200, 145);
    margin: 40px;
    border-radius: 10px;
    width: 70%;
    padding: 20px;
    box-shadow: 3px 3px 5px lightgray;
}

/* style project section */
#project-section {
    background-color:white;
    height: 1100px;
    margin-top: -20px;
    color: rgb(241, 200, 145);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#project-section h1 {
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

#project-blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 0;
}

#project-blocks li {
    list-style-type: none;
    border: solid 2px black;
    height: 150px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 200px;
    height: 150px;
}
   
/* style the links/footer section */
#link-icons {
    display: flex;
    justify-content: space-around;
}

#link-icons img {
    width: 30px;
    height: 30px;
    padding: 10px;
}



